- name: "Configure theming of window colors and styles"
  ansible.builtin.include_tasks: theme.yml

- name: "Configure desktop background image and appearance"
  ansible.builtin.include_tasks: background.yml

