- name: "Edit a dconf setting, and try again if it fails"
  block:
    - name: "{{ descrip }}"
      community.general.dconf:
        key: "{{ key }}"
        value: "{{ value | default(omit) }}"
        state: present
  rescue:
    - name: "SECOND TRY - {{ descrip }}"
      community.general.dconf:
        key: "{{ key }}"
        value: "{{ value | default(omit) }}"
        state: present
  become: true
  become_user: "{{ mate_de_user_name }}"

