- name: "Configure power settings"
  block:
    - ansible.builtin.include_tasks: func/dconf.yml
      vars:
        descrip: "For screen/power, set AC-power screen blank delay to {{ blank_setting }}"
        key: "/org/mate/power-manager/sleep-display-ac"
        value: "{{ blank_min }}"
    - ansible.builtin.include_tasks: func/dconf.yml
      vars:
        descrip: "For screen/power, set battery-power screen blank delay to {{ blank_setting }}"
        key: "/org/mate/power-manager/sleep-display-battery"
        value: "{{ blank_min }}"
    - ansible.builtin.include_tasks: func/dconf.yml
      vars:
        descrip: "For screen/power, set UPS-power screen blank delay to {{ blank_setting }}"
        key: "/org/mate/power-manager/sleep-display-ups"
        value: "{{ blank_min }}"
    - ansible.builtin.include_tasks: func/dconf.yml
      vars:
        descrip: "For screen/power, set poweroff/logout dialog-delay to {{ delay_time }} seconds"
        key: "/org/mate/desktop/session/logout-timeout"
        value: "{{ delay_time }}"
        delay_time: "{{ mate_de_poweroff_dialog_delay_sec }}"
  vars:
    blank_min: "{{ mate_de_screen_blank_time_minutes * 60 }}"
    blank_setting: "{{ 'no-screen-blank' if (blank_min == 0) else mate_de_screen_blank_time_minutes }}{{ '' if (blank_min == 0) else ' minutes' }}"

