- name: "Install network components"
  ansible.builtin.include_tasks: network.yml

- name: "Install power components"
  ansible.builtin.include_tasks: power.yml

- name: "Install printer components"
  ansible.builtin.include_tasks: printer.yml
  when: mate_de_enable_printing_support

- name: "Install sound components"
  ansible.builtin.include_tasks: sound.yml
  when: mate_de_enable_sound_support

