- name: "Install 'networkmgr', a non-mate package for network panel applet"
  ansible.builtin.package:
    name: networkmgr
    state: present
  become: true
  become_user: root

- name: "Define export var 'mate_de_network_mgr_sudoers_rule'"
  ansible.builtin.set_fact:
    mate_de_network_mgr_sudoers_rule:
      label: "ansible_mate_de_network_mgr"
      sudoer_name: "{{ mate_de_user_name }}"
      sudoer_type: "user"
      allow_run_on_host: "ALL"
      allow_run_as_user: "ALL"
      allow_commands:
        - "/sbin/ifconfig"
        - "/usr/bin/killall"
        - "/usr/local/bin/networkmgr"
        - "/usr/local/bin/networkmgr"
        - "/usr/sbin/service"
        - "/usr/sbin/wpa_supplicant"
      req_passwd: false

