- name: "Install 'networkmgr', a non-mate package for network panel applet"
  ansible.builtin.package:
    name: networkmgr
    state: present
  become: true
  become_user: root

- name: "In sudo settings, configure user '{{ mate_de_user_name }}'for networkmgr permissions"
  ansible.builtin.include_role:
    name: ext/ans_role_config_sudo
  vars:
    set_auth_for_user: "{{ user_name }}"
    auth_cmd_list:
      - '/sbin/ifconfig'
      - '/usr/bin/killall'
      - '/usr/local/bin/networkmgr'
      - '/usr/local/bin/networkmgr'
      - '/usr/sbin/service'
      - '/usr/sbin/wpa_supplicant'
    req_sudo_password: false

